.chatBox {
  background-image: linear-gradient(to bottom right, red, yellow) !important;
}
.hrlinebox {
  margin-top: 25px !important;
}
.popoverContainer {
  width: 100%;
  height: 20% !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}
