.userList {
  flex: 4;
}
.usersText {
  font-size: 35px;
  color: #b04edd;
  font-weight: bold;
  margin-left: 35px;
  margin-top: -10px;
}
.sortIcon {
  font-size: 30px !important;
  color: #f1f0f1;
  margin-right: 30px;
  float: right;
}
th:hover {
  background-color: #31333a !important;
  cursor: pointer;
  transition: 0.5s;
}
.btn-group {
  margin-left: 210px;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
}
.btn-style {
  background-color: #dd4e4e;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100px;
  padding: 10px;
  margin-left: 35px;
  margin-top: 19px;
}
.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.ActionIconChat {
  color: blue;
  cursor: pointer;
}
.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.search1 {
  padding: 10px;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  width: 25rem;
  /* color: #03091f; */

  background-color: #03091f;
  color: white;
}
.btn-add {
  float: right;
  background-color: rgb(60, 18, 247);
  color: white;
  padding: 8px;

  width: 10%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-right: 24px;
  border-radius: 12px;
}
.productList {
  flex: 4;
  padding-top: 40px;
}

.data-table {
  margin-top: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.data-table td,
.data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr {
  color: #03091f;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 540;
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(226, 50, 147);
  color: white;
}
.edit-btn {
  font: xx-large;
  color: white;
  padding: 8px;
  width: 30%;
  font-size: 1.3rem;
}
.del-btn {
  font: xx-large;
  color: white;
  padding: 8px;
  margin-left: 1rem;
  width: 30%;
  font-size: 1.3rem;
}
.paginationUserList {
  justify-content: center !important;
  background-color: #fff;
  background: none;
  margin-bottom: 20px;
  margin-left: 620px;
}
.paginationTextUserList {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

/*

table th {
  border: 1px solid black;
}
table td {
  border: 1px solid pink;
}

.c-container{
    padding-top: 40px;
}


.data-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .data-table td,.data-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.data-table tr{
      color: white;
  }
  .data-table tr:nth-child(even){ background-color: #03091f;}
  
 .data-table tr:hover { background-color: #03091f;;}
  
  .data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(226, 50, 147);
    color: white;
  }
   .footer{
    font-weight: bold;
    font-size: 30px;
}

.checkout-btn{

    color: white;
    background-color: rgb(226, 50, 147);
    padding: 20px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   margin-top: 2rem;

    margin-left: 2rem;
    width: 18%;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
   
   border-radius: 10px;
    }



*/

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
.btn-style :hover {
  cursor: pointer;
}
