/* .messanger-container{
    
    
    flex: 4;
    margin-top: 10px;
} */
.messenger {
    /* height: calc(100vh - 70px); */
    display: flex;
    flex: 4;
  }
  
  .chatMenu {
    flex: 1;
    height:95%;
    border: 1px solid black;
    margin-left: 1rem;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }

  .chat{
    margin:4px;
    padding: 9px;
  cursor: pointer;
  height:4rem;
  border: 1px solid black;
  display: flex;
  background-color: rgb(192, 113, 126);
  align-items: center;
  border-radius: 10px;
  }
  .sender{
    font-size: 18px;

}

.chat:active,
.chat:hover {
  background-color: #7110d1;
  transition: 0.5s;
  /* width: auto; */
}
  
  .chatBox {
    flex: 5.5;
    height:80%;
    /* border : 3px solid pink; */
  }
  .list{
    margin-left: 3rem;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
  }
  
  .msg-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 50%;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid black; */
  }
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    font-size: 18px;
    height: 70px;
    margin-left: 9px;
    padding: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;

    margin-right:8rem;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }